@model IEnumerable<TimeMate.Models.LeaveRequest>

@{
    ViewData["Title"] = "Index";
}
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Layouts/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("employee"))
    {
        Layout = "~/Views/Layouts/_EmployeeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Layouts/_ManagerLayout.cshtml";
    }
}
<table class="table">
    <thead>
        <tr>
            <th>employee Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>status</th>
            <th>Manager Approval</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.employee.FirstName</td>
                <td>@Html.DisplayFor(modelItem => item.startDate)</td>
                <td>@Html.DisplayFor(modelItem => item.endDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Reason)</td>
                <td>
                    @if (item.ManagerApproval == LeaveStatus.Pending)
                    {
                        <span>Pending</span>
                    }
                    else if (item.ManagerApproval == LeaveStatus.Approved)
                    {
                        <span>Accepted</span>
                    }
                    else if (item.ManagerApproval == LeaveStatus.Rejected)
                    {
                        <span>Rejected</span>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.ManagerApproval)</td>
                <td>
                    @if (User.IsInRole("Manager") && item.ManagerApproval == LeaveStatus.Pending)
                    {
                        <form asp-action="Approve" asp-route-Id="@item.Id" method="post">
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                        <br/>
                        <form asp-action="Reject" asp-route-Id="@item.Id" method="post">
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                    }
                    else
                    {
                        <span class="text-muted">N/A</span>
                    }
                </td>
                </tr>
        }
    </tbody>
</table>
